<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/static/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon/favicon-16x16.png"
    /> -->
    <link rel="icon" type="image/png" href="/static/favicon/favicon.ico" />
    <!-- <link rel="manifest" href="/static/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" /> -->
    <title>{% block title %}{% endblock %} - MicroWeb</title>
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <!-- Todo add links to home, postcodes, postcodes API  -->
  </body>
</html>
